html,
body {
  margin: 0;
  height: 100%;
}
header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
}
h1 {
  margin: 0;
}
aside {
  float: left;
  width: 25%;
  height: 100%;
  background-color: burlywood;
  flex-direction: column;
  padding: 10px;
}
#searchForm {
  flex-direction: column;
}
button {
  align-items: center;
}
.infoCard {
  margin: 10px;
  background-color: cadetblue;
}
ul {
  list-style: none;
}
